<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
</head>
<body>
	<h1>About Page</h1>
	<br><br>
	<ul>
	{{#each books}}
		<li>{{title}}</li>
	{{/ each}}
	</ul>

	<!-- handlebars -->
	 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
	
</body>
</html>