<!DOCTYPE html>
<html>
<head>
	<title>Beer Practice 3</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
{{#each beers}}
<h4>{{brand}} : {{name}}</h4>
{{/each}}
<script type="text/javascript" src="scripts.js"></script>
</body>
</html>