<!DOCTYPE html>
<html>
<head>
	<title>Hoy Es Practicar</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h1>Hablo Espanol</h1>
<h2>Los estudiantes son:</h2>
<ul>
{{#each students}}
<li>{{name}}</li>
{{/each}}
</ul>
<script type="text/javascript" src="scripts.js"></script>
</body>
</html>