<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bars</title>
</head>
<body>
	<h1>Bars of San Francisco</h1>
	<ul>
		{{#each bars}}
			<li>{{name}} : {{location}}</li>
		{{/each}}
	</ul>
</body>
</html>