<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Breakfast Spots</title>
</head>
<body>
	<h1>Breakfast Spots in San Francisco</h1>
	<ul>	
		{{#each bfspots}}
			<li>{{name}} : {{location}}</li>
		{{/each}}
	</ul>
</body>
</html>