<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="styles.css">
		<meta charset="UTF-8">
		<title>Document</title>
	</head>
	<body>
		<h1>General Assembly rocks!  But it's cold.</h1>
		<h1>{{ name }} is awesome sauce.</h1>
		<h1>My cars</h1>
		{{#list cars}}
		<h3>{{name}} : {{make}}</h3>
		{{/list}}
		
	</body>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script type="text/javascript" src="script.js"></script>
</html>