<!DOCTYPE html>
<html>
<head>
	<title>Express Practive</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	{{#each teams}}
	<h2>{{name}}</h2>
	{{/each}}

	<script type="text/javascript" src="scripts.js"></script>
</body>
</html>