<!DOCTYPE html>
<html>
<head>
	<title>Practice1</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<h1>Here is my second practice server!</h1>
	<h2>Bands I listen to</h2>
	{{#each bands}}
	<h3>{{ artist }}</h3>
	{{/each}}
	<script type="text/javascript" src="scripts.js"></script>
</body>
</html>